@import url("styles2.css");

.generic-content
{
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: rgb(240,236,228);
	background-color: black;
}

.inner-container
{
	border: 1px solid rgb(240,236,228);
}

.outer-container
{
	height: 100%;
}

.inner-container > a
{
	height: 100%
}

.inner-container > a > img
{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

@media (max-width: 767px)
{
	.h-md-25 { height: 25%!important; }
}

@media (min-width: 768px)
{
	.col-md-6
	{
		flex: 0 0 auto;
	    width: 50%;
	    height: 50%;
	}
}